* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    width: 1920px;
    height: 74px;
  }

  .square, .header-nav {
    display: flex;
    gap: 20px;
}

.logo {
    font-size: 35px;
    margin: auto 50px auto 312px;
    font-family: sans-serif;
    font-weight: bold;
    color: #040062;
   
}

.header-nav {
    list-style: none;
}

a {
    text-decoration: none;
}

.elements {
    font-size: 19px;
    text-decoration: none;
    font-family: sans-serif;
    color: #040062;
    font-weight: 200;
    font-size: 16px;
    font-weight: bold;
    margin: auto 0px 25px;
    
}

#button {
    margin : 18px auto 18px 312px;
    padding: 10px 10px;
    background-color: #0013FF;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    justify-items: end;
}