#main {
    color: #040062;
    font-size: 50px;
    font-family: 'ubuntu', sans-serif;
}

header, ul {
    display: flex;
}

pre {
    margin: 25px 0 0 312px;
}

ul {
    gap: 20px;
    margin: 30px 0 ;
    padding: 0;
}

.header-nav {
    list-style: none;
}

.nav-button {
    margin: 25px 12px 0 auto;
}
