* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFFFFF;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 100;
  font-style: normal;
}

/*---------------Header ------------*/
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
    width: 100%;
    height: 74px;
}

.header__logo {
    font-size: 35px;
    margin: auto 50px auto 0;
    font-family: sans-serif;
    font-weight: bold;
    color: #040062;
}

.header__nav {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin: auto 0;   
    flex-grow: 1;
}

.header__menu {
    display: flex;
    gap: 20px;
    list-style: none;    
}

a {
    text-decoration: none;
    color: #040062;
}

#button {
    margin : auto 18px;
    padding: 10px 10px;
    background-color: #0013FF;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    justify-items: end;
}

@media screen and (max-width: 700px) {
        .header {
        width: calc(100% - 30px * 2);
        flex-direction: column;
        gap: 20px;
        position: static;
       
    }
}
    
/* Header end */


/* body */

.container {
    display: flex;
    justify-content: center; /*вертикально*/
    flex-direction: column;
    height: 648px;
    max-width: 1296px;
    width: 100%;
}

.blok {
    display: flex;
    max-width: 1296px;
    height: 648px;
    
}

.blok__square {
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.blok__image {
    width: 234px;
    height: 508px;
    border-radius: 37px; /*закругления углов*/
}

.blok__text-container {
    display: flex;
    flex-direction: column;
    /*align-items: center; горизонтально*/
    /*justify-content: center; вертикально*/
    text-align: left;
    width: 50%;
}

.blok__title {
    font-family: 'Abril Fatface', serif;
    font-weight: 500;
    font-size: 48px;
    color: #040062;

    padding-left: 100;
    width: 449px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}

.blok__subtitle {
    font-family: 'Abril Fatface', ;
    color: #6D758D;
    font-size: 18px;
    font-weight: 100;
    line-height:150%;
    letter-spacing: 0,9px;
    display: block;
    width: 488px;
    margin-left: auto;
    margin-right: auto;
}

#pink {
    background-color: #FEF1EF;
}

#blue {
    background-color: #C7E3E9;
}

/* body end */


/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1296px;
    width: 100%;
    height: 290px;
    padding-top: 80px;
}

.footer__logo {
    border-color: #0013FF;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: #040062;
}

.footer__section__blok {
    display: flex;
    justify-content: left;
    width: 504px;
    
}

.footer__linc {
    display: flex;
    flex-direction: column;
}

.footer__section--name {
    font-size: 22px;
    color: #040062;
}

.footer__linc a {
    font-size: 16px;
    color: #6D758D;
    margin-top: 14px;
}