* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square {
    width: 1920px;
    height: 74px;
  }

.logo {
    margin: 25px 50px 26px 312px;
}

.square, .header-nav {
    display: flex;
    gap: 20px;
}

.header-nav {
    list-style: none;
}

a {
    text-decoration: none;
    height: 18px;
}

.elements {
    padding: 25px auto 25px 50px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: #040062;
    font-weight: 100;
    font-size: 16px;
    margin: 25px 50px 25px;
}

.nav-button {
    margin:   40px;
    color: #040062;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

button {
    margin: 18px auto 18px 312px;
    padding: 10px 20px;
    background-color: #040062;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}