* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: #FFFFFF;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

/*---------------Header ------------*/
.header {
    display: flex;
    justify-content: left;
    max-width: 1296px;
    height: 74px;
}

.header__logo {
    font-size: 35px;
    margin: auto 2rem;
    font-family: sans-serif;
    font-weight: bold;
    color: #040062;
}

.header__nav {
    font-size: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 200;
    font-weight: bold;
    margin: auto 0px 25px;   
}

.header__menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #040062;
}

#button {
    margin : 18px auto 18px 312px;
    padding: 10px 10px;
    background-color: #0013FF;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    justify-items: end;
}
/*---------------Header end------------*/


/*---------------body------------*/

/*---blok2---*/
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 648px;
    max-width: 1296px;
}

.blok2 {
    display: flex;
    max-width: 1296px;
    height: 648px;
    
}

.blok2-square {
    width: 648px;
    background-color: #FEF1EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blok2-image {
    width: 234px;
    height: 508px;
}

.blok2__text-container {
    display: flex;
    flex-direction: column;
    max-width: 648px;
}

.blok2__subtitle {
    font-family: 'Abril Fatface', serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #040062;
    margin-bottom: 32px;
    padding-left: 100;
}

p {
    font-family: 'Abril Fatface', serif;
    color: #6D758D;

}
/*---blok2 end---*/

/*---------------body end------------*/