#main {
    color: #040062;
    font-size: 50px;
    font-family: 'ubuntu', sans-serif;
}

header, ul {
    display: flex;
}

.square {
    width: 1920px;
    height: 74px;
  }

pre {
    padding: 25px 50px 26px 312px;
}

nav {
    gap: 20px;
    margin: 0px;
    padding: 25px;
    
}

.elements {
    padding: 25px auto 25px 50px;
    font-size: 16px;
    text-decoration: none;
    color: #040062;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 16px;
}

.header-nav {
    list-style: none;
}

.nav-button {
    margin:   40px;
    color: #040062;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

button {
    margin: 18px 312px 18px auto;
    padding: 10px 20px;
    background-color: #040062;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}